.bingoCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.bingoCardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.highlight {
  color: #6638f0;
  font-weight: bold;
  display: inline;
}

.hidden {
  display: none;
}
